# Indexing, Iterating, and Math with Arrays

In this section we will learn how to perform some math operations and functions between NumPy arrays. We will also learn how to access individual elements within an array, as well as iterate these elements with `for` loops.

## Indexing Arrays

Let's declare an array of four integer elements.

In [ ]:
import numpy as np 

a = np.array([67, 12, 19, 43])

Using 0-based indexing, we can access the first element.

In [ ]:
a[0]

We can access the third element.

In [ ]:
a[2]

We can also access the last element.

In [ ]:
a[-1]

Okay so what about arrays in higher dimensions? Here is a 2-dimensional array.

In [ ]:
b = np.array([[  10,   20,   30,   40,   50],
              [ 100,  200,  300,  400,  500], 
              [1000, 2000, 3000, 4000, 5000]
             ])

b

We can access the first row.

In [ ]:
b[0]

we can access the third element in the second row using either of these syntaxes.

In [ ]:
b[1,2]

In [ ]:
b[1][2]

We can also use slicing to grab ranges of the array, but we will save this for a later section. Just know the option is there.

In [ ]:
b[0:2, 3:5]

And here is one final example for a 3-dimensional array grabbing the center-most item, the `34`.

In [ ]:
my_image = np.array([
    [[0, 1, 3],
     [6, 2, 6], 
     [1, 5, 4]], 
    
    [[8, 3, 19],
     [33, 34, 11], 
     [13, 14, 89]], 
    
    [[14, 68, 17],
     [66, 84, 92], 
     [4, 2, 58]]
])

my_image[1][1][1]

## Basic Math Operators

Let's declare two different arrays, `a` and `b` which are 1-dimensional.

In [ ]:
a = np.array([.25, .5, .75])

b = np.array([4, 10, 100])

a.shape, b.shape

We can add two arrays, adding each respective element together.

In [ ]:
a + b

We can also subtract.

In [ ]:
b - a

Multiply each respective element.

In [ ]:
a * b

Or divide each respective element.

In [ ]:
a / b

You can even set another array `a` to be the exponents for `b`.

In [ ]:
b**a

You can also use a single scalar value with any of these operators. It will just operate that value to each element in an array. If we multiply `a` by `100`, it will multiply each element of `a` by `100`.

In [ ]:
100*a

And of course, you can perform several operations at once.

In [ ]:
a**2 - a*b + b + 10

## Math Functions

When you want to leverage other mathematical functions besides the basic `+-*/`, there are mathematical functions in NumPy to help with that. 

Let's say you wanted to find the square root of an array. We can use the `sqrt()` function.

In [ ]:
a = np.array([4, 9, 25])

np.sqrt(a)

We can leverage `log()` for natural logarithms and `sin()` for sine functions.

In [ ]:
np.log(a)

In [ ]:
np.sin(a)

There are countless mathematical functions available in NumPy, [so be sure to browse the documentation](https://numpy.org/doc/stable/reference/routines.math.html) to see what's available for when you need them.

There are also [helpful logic functions](https://numpy.org/doc/stable/reference/routines.logic.html). Below we compare elements in two arrays and whether each element in `a` is greater than `b`. We will get an array of `True`/`False` values as a result.

In [ ]:
a = np.array([10, 45, 24])
b = np.array([11, 56, 21]) 

np.greater(a, b)

## Aggregating Functions

There are a handful of mathematical functions that perform aggregations, such as `sum()`, `min()`, `max()`, `median()`, and `mean()`.

In [ ]:
a = np.array([4, 9, 25])

print(f"SUM: {np.sum(a)}\n",
      f"MIN: {np.min(a)}\n",
      f"MAX: {np.max(a)}\n",
      f"MEDIAN: {np.median(a)}\n", 
      f"MEAN: {np.mean(a)}"
)

We can also work with multidimensional arrays with aggregating functions.

In [ ]:
A = np.array([
    [7, 1, -3], 
    [2, -2, 31]
])

A.sum()

Of course, we can also aggregate by column.

In [ ]:
A.sum(axis=0)

We can also aggregate by row.

In [ ]:
A.sum(axis=1)

You can also do aggregations on higher dimensional arrays, and even do so on multiple axes specified in tuples.

In [ ]:
threed_array = np.array([
    [[0, 1, 3],
     [6, 2, 6], 
     [1, 5, 4]], 
    
    [[8, 3, 19],
     [33, 34, 11], 
     [13, 14, 89]], 
    
    [[14, 68, 17],
     [66, 84, 92], 
     [4, 2, 58]]
])

threed_array.sum(axis=(0,1))

Note that specifying all axes in the tuple is the same as specifying `sum()` without any axis arguments.

## Iterating Arrays

If you ever have a need to iterate elements in an array, just use a `for` loop.

In [ ]:
import numpy as np 

a = np.array([1,2,3])

for x in a: 
    print(x)

Note that if you have more than one dimesion, iteration will result in going through each element on the first axis (i.e. row).

In [ ]:
b = np.array([[  10,   20,   30,   40,   50],
              [ 100,  200,  300,  400,  500], 
              [1000, 2000, 3000, 4000, 5000]
             ])

for x in b: 
    print(x)

This means if you want to iterate each individual element, you will have to unpack using nested `for` loops.

In [ ]:
for x in b: 
    for y in x: 
        print(y)

Rather nest several for loops to access individual elements, you can use `nditer()`.

In [ ]:
for x in np.nditer(b):
    print(x)

## Matrix Multiplication

One mathematical operation that should be called out is **matrix multiplication** as well as **matrix-vector multiplication**. But first, let's see an animation of a vector being multiplied against a matrix. 

<video src="https://github.com/thomasnield/anaconda_linear_algebra/raw/main/media/07_MatrixVectorMultiplicationScene.mp4" controls="controls" style="max-width: 730px;">
</video>

Numerically, a matrix-vector multiplication will multiply each respective row with each respective column, and sum the products together respectively. This is a very common operation, especially in machine learning and deep learning.

$ A\vec{v} $

$ = \begin{bmatrix} 1 & 2 \\ -1 & 1 \end{bmatrix} \begin{bmatrix} 0.5 \\ 1.5 \end{bmatrix} $

$ = \begin{bmatrix} (1)(0.5) + (2)(1.5) \\ (-1)(0.5) + (1)(1.5) \end{bmatrix} $

$ = \begin{bmatrix} 3.5 \\ 1 \end{bmatrix} $

This is executed using the `@` operator in NumPy. Note this is not commutative, and the order matters! In matrix-vector multiplication, the matrix is "applied" to the vector.

In [ ]:
import numpy as np 

A = np.array([[1,  2],
              [-1, 1]])

v = np.array([0.5, 1.5])

w = A @ v 
w

There is also matrix multiplication, which does a similar operation but with two matrices. It combines each respective row of the first matrix with each respective column of the second matrix, and multiplies and sums the respective elements together. 

$
\begin{aligned}
A &= BC \\
&= \begin{bmatrix} 0 & 1 \\ 1 & 0 \end{bmatrix} \begin{bmatrix} 2 & 1 \\ 0 & 1 \end{bmatrix} \\ &= \begin{bmatrix} (0 \cdot 2) + (1 \cdot 0) & (0 \cdot 1) + (1 \cdot 1) \\ (1 \cdot 2) + (0 \cdot 0) & (1 \cdot 1) + (0 \cdot 1) \end{bmatrix} \\
&= \begin{bmatrix} 0 & 1 \\ 2 & 1 \end{bmatrix}
\end{aligned}
$

It too is executed using the `@` operator.

In [ ]:
import numpy as np 

B = np.array([[0,1],[1,0]])
C = np.array([[2,1],[0,1]])

C @ B

To learn more about these operations, check out the [Anaconda course on Linear Algebra](https://learning.anaconda.cloud/linear-algebra). It has spiffy animations too.

## Exercise

Using the `mean()` function in NumPy, calculate the `mean()` on each column for `A`.

In [ ]:
import numpy as np 

A = np.array([[  10,   20,   30,   40,   50],
              [ 100,  200,  300,  400,  500], 
              [1000, 2000, 3000, 4000, 5000]
             ])

## calculate the mean by column
## PUT YOUR CODE HERE

### SCROLL DOWN FOR ANSWER
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
v

In [ ]:
import numpy as np 

A = np.array([[  10,   20,   30,   40,   50],
              [ 100,  200,  300,  400,  500], 
              [1000, 2000, 3000, 4000, 5000]
             ])

## calculate the mean by column
#A.mean(axis=0)
# np.mean(A, axis=0)